{
	"appId":"99FB626231539",
	"appKey":"99FB626231539_ANDROID",
	"base64Code":"",
	"packageName":"com.mpaas.demo",
	"rootPath":"mpaas/android/99FB626231539-product",
	"workspaceId":"product",
	"rpcGW":"https://mpaas.csrcbank.com:529/mgw.htm",
	"pushPort":"8000",
	"pushGW":"mpaas.csrcbank.com",
	"logGW":" https://mpaas.csrcbank.com:534",
	"syncport":"8666",
	"syncserver":"mpaas.csrcbank.com"
}